@font-face{
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face{
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face{
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Semibold.ttf") format("truetype");
    font-weight: 600;
}
@font-face{
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Bold.ttf") format("truetype");
    font-weight: 700;
}
*{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
body{
    font-family: "Gilroy";
    background: linear-gradient(80.5deg, #83A4BD 11.55%, #A5A2B3 24.51%, #BA929B 33.33%, #BD8689 39.89%, #C46F6A 47.85%, #C65857 55.62%, #BF4145 65.14%, #9C2E37 75.49%, #7A262E 84.66%, #5B1E23 95.55%, #421F23 103.99%, #2D1C22 111.11%);
}
.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    display: flex;
}
header{
    display: flex;
    align-items: center;
    height: 100px;
}
header ul{
    display: flex;
    list-style: none;
}
.h__contacts{
    display: flex;
}
nav p{
    font-weight: 400;
    font-size: 18px;
    color: white;
}
nav ul a{
    margin-right: 50px;
}
nav ul a:last-child{
    margin-right: 0px;
}
.h1__img1{
    width: 146px;
    height: 50px;
    margin-right: 100px;
}
header nav{
    margin-right: 150px;
}
.h__contacts img{
    margin-right: 10px;
}
.h__contacts p{
    font-weight: 600;
    font-size: 18px;
    color: white;
}
.h__text1{
    font-weight: 500;
    font-size: 13px;
    line-height: 160%;
    color: white;
}



.s1__FULL{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.s1__ContRight img{
    width: 758.03px;
    height: 555px;
    margin-bottom: 150px;
}
.s1__contText1{
    font-weight: 700;
    font-size: 36px;
    color: white;
    line-height: 130%;
}
.s1__contText2{
    font-weight: 400;
    font-size: 36px;
    color: white;
    line-height: 130%;
}
.s1__contText1 span{
    font-weight: 400;
    font-size: 36px;
    color: white;
    line-height: 130%;
}
.s1__contText3{
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: white;
}
.s1__button{
    margin-top: 50px;
    background: #F2323D;
    width: 224px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 100px;
    transition: 500ms;
}
.s1__button p{
    font-weight: 600;
    font-size: 20px;
    color: white;
    transition: 500ms;
}
.s1__button:hover{
    background: white;
    transition: 500ms;
    transform: scale(1.1);
}
.s1__button:hover p{
    color: red;
    transition: 500ms;
}
.s1__PrimCOnt{
    display: flex;
    margin-bottom: 80px;
}
.s1__slaveCont{
    display: flex;
    margin-right: 40px;
    align-items: center;
}
.s1__PrimCOnt div:last-child{
    margin-right: 0px;
}
.s1__line1{
    height: 92px;
    width: 1px;
    background:#E9E9E9;
    margin-right: 10px;
}
.s1__sCont img{
    margin-bottom: 20px;
}
.s1__sCont p{
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: white;
}
.s1__ContRight img{
    animation: animate_grow 1s infinite;
}
@keyframes animate_grow {
	0% {
		transform: scale3d(1, 1, 1);
	}
	50% {
		transform: scale3d(0.9, 0.9, 0.9);
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}
.s1__ContRight img:hover{
    animation: animate_grow 400ms infinite;
}






.section2{
    height: 842.5px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.s2__tx{
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: white;
}
.s2__cont{
    margin-top: 10px;
    width: 305px;
    margin-right: 30px;
}
.s2__PRIM{
    display: flex;
    margin-bottom: 60px;
}
.s2__PRIM div:last-child{
    margin-right: 0px;
}
.s2__PRIM img{
    margin-right: 20px;
}
.s2__text1{
    font-weight: 500;
    font-size: 24px;
    color: white;
    margin-bottom: 15px;
}
.s2__text2{
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: white;
}
.s2__cont ul{
    display: flex;
    flex-direction: column;
}
.s2__cont ul li{
    margin-bottom: 10px;
    margin-left: 20px;
}
.s2__cont ul li::marker{
    color: white;
}
.s2__FULL div:last-child{
    margin-bottom: 0px;
}



.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.s3__FULL{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}



.section4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
}
.s4__FULL{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
}
.s4__tx1{
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: white;
}
.s4__cTX{
    margin-bottom: 50px;
}
.s4__FULL div:last-child{
    margin-bottom: 0px;
}
.s4__PRIM{
    display: flex;
    margin-bottom: 40px;
}
.s4__PRIM div:last-child{
    margin-right: 0px;
}
.s4__contSPEC{
    display: flex;
    align-items: center;
    height: 120px;
    width: 360px;
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 15px;
    padding-top: 20px;
    margin-right: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: 500ms;
}
.s4__cont{
    display: flex;
    align-items: center;
    height: 120px;
    width: 360px;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 15px;
    padding-top: 20px;
    margin-right: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: 500ms;
}
.s4__tx2{
    font-weight: 500;
    font-size: 18px;
    line-height: 165%;
    color: white;
}
.s4__tx3{
    font-weight: 700;
    font-size: 32px;
    color: white;
}
.s4__cLeft{
    height: 90px;
}
.s4__cLeftS{
    height: 45px;
}
.s4__cRight{
    flex-grow: 1;
    display: flex;
    justify-content: end;
    height: 110px;
}
.s4__contSPEC:hover{
    transform: scale(1.1);
    transition: 500ms;
    box-shadow: 4px 4px 27px 7px rgba(255, 0, 0, 0.2);
    border: 0px solid rgba(255, 255, 255, 0.3);
    background-color: #F2323D;
}
.s4__cont:hover{
    transform: scale(1.1);
    transition: 500ms;
    box-shadow: 4px 4px 27px 7px rgba(255, 0, 0, 0.2);
    border: 0px solid rgba(255, 255, 255, 0.3);
    background-color: #F2323D;
}



.section5{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.s5__FULL{
    display: flex;
    flex-direction: column;
}
.s5__PRIM{
    margin-top: 100px;
    margin-bottom: 100px;
}
.s5__FULL .s5__PRIM:first-child{
    margin-bottom: 0px;
}
.s5__PRIM div:last-child{
    margin-bottom: 0px;
}
.s5__cont{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.s5__cImg{
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: end;
    margin-right: 150px;
    width: 100%;
}
.s5__cImg a:first-child{
    margin-right: 20px;
}
.s5__cont p{
    width: 735px;
}
.s5__tx1{
    font-weight: 600;
    font-size: 32px;
    color: white;
}
.s5__cont img{
    margin-right: 40px;
}
.s5__cont img:last-child{
    margin-right: 0px;
}
.section5{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.s5__FULL{
    display: flex;
    flex-direction: column;
}
.s5__cImg img:hover{
    transform: scale(1.1);
    transition: 500ms;
}



.section6{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s6__FULL{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../img/s6__IMGcp.png");
    height: 522px;
    width: 1500px;
}
.s6__PRIM span{
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
}
.s6__tx1{
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    color: white;
}
.s6__contPRIM{
    display: flex;
    margin-top: 40px;
}
.s6__contPRIM input{
    width: 200px;
    height: 58px;
    border-radius: 10px;
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.3);
    align-items: center;
    padding-left: 30px;
    font-weight: 400;
    font-size: 18px;
    color: white;
    margin-right: 20px;
    transition: 500ms;
}
.s6__contPRIM input:hover{
    border: 0px solid white;
    background: #F2323D;
    transition: 500ms;
    transform: scale(1.1);

}
.s6__contPRIM input::placeholder{
    font-weight: 400;
    font-size: 18px;
    color: white;
}
.s6__cont{
    display: flex;
    width: 200px;
    height: 58px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: #F2323D;
    transition: 500ms;
}
.s6__cont p{
    font-weight: 400;
    font-size: 18px;
    color: white;
}
.s6__cont:hover{
    transform: scale(1.1);
    transition: 500ms
}
.s6__PRIM{
    margin-top: 175px;
    margin-left: 300px;
}



.s7__PRIM{
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}
.s7__tx1{
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: white;
    width: 500px;
}



.section8{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
}
.s8__FULL{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
}
.s8__tx1{
    font-weight: 600;
    font-size: 32px;
    color: white;
    margin-bottom: 50px;
}
.s8__Left{
    display: flex;
    flex-direction: column;
}
.s8__Right{
    display: flex;
    flex-direction: column;
}
.s8__contTX{
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    margin-right: 30px;
}
.s8__cont{
    width: 560px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    transition: 500ms;
}
.s8__tx2{
    font-weight: 500;
    font-size: 21px;
    color: white;
}
.s8__tx3{
    display: none;
    font-weight: 500;
    font-size: 18px;
    color: white;
    margin-left: 30px;
    margin-bottom: 20px;
    transition: 500ms;
}
.s8__img1{
    display: flex;
    flex-grow: 1;
    justify-content: end;
    align-items: flex-start;
    margin-top: 7px;
}
.s8__cont img{
    transition: 500ms;
}
.s8__cont:hover img{
    transform: rotate(180deg);
    transition: 500ms;
}
.s8__cont:hover .s8__tx3{
    display: block;
    transition: 500ms;
}
.s8__PRIM{
    display: flex;
}
.s8__Left{
    margin-right: 40px;
}
.s8__Left div{
    margin-bottom: 20px;
}
.s8__Left div:last-child{
    margin-bottom: 0px;
}
.s8__Right div{
    margin-bottom: 20px;
}
.s8__Right div:last-child{
    margin-bottom: 0px;
}



.section9{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.s9__FULL{
    display: flex;
    flex-direction: column;
}
.s9__cont{
    width: 510px;
    height: 440px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    background-color: white;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.s9__tx1{
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #333333;
    margin-bottom: 20px;
}
.s9__tx2{
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #4F4F4F;
    margin-bottom: 30px;
}
.s9__tx3{
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #4F4F4F;
    margin-bottom: 30px;
}
.container {
    pointer-events: none;
}
.block {
    position: relative;
  }
  
  .map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .container {
    position: relative;
    z-index: 2;
    min-height: 250px;
  }